body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dadce0;
    padding: 1em;
}

header #hamburger {
    width: 2em;
    height: 2em;
    fill: black;
    margin: 0;
    padding: 0.6em;
}

header #hamburger:hover {
    background-color: #f0f0f0;
    border-radius: 50px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header nav svg {
    width: 24px;
    height: 24px;
}

header img {
    width: 80px;
}

.l-navbar svg {
    fill: #0060f0;
    margin-right: 5px;
}

.l-navbar a {
    border: 1px solid #dadce0;
    border-radius: 25px;
    padding: 0.8em;
    color: black;
    font-weight: bold;
}

.l-navbar a:hover {
    background-color: #f6f9fd;
}

.l-navbar #google {
    border: none;
    padding: 0;
    margin-right: 1.5em;
}

.l-navbar #flights {
    background-color: #e8f0fe;
}

.r-navbar a {
    padding: 0.5em;
}

.r-navbar #account {
    border-radius: 50%;
    background-color: rebeccapurple;
    padding: 0.5em;
    color: white;
    width: 1em;
    height: 1em;
}

.r-navbar a:hover {
    background-color: #f0f0f0;
    border-radius: 50px;
}
main{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.image{
    text-align: center;
}
.image img{
    width: 70em;
    height: 20em;
}
.image h1{
    position: absolute;
    top: 30%;
    right: 45%;
    font-size: 65px;
    font-weight: normal;
}